// Colors
$color-background-dark-1: rgb(3, 3, 29);
$color-background-button: rgb(20, 56, 97);
$color-background-button-hover: #946713;
$color-background-button-hover-light: rgb(100, 90, 48);
$color-text-light-1: #d4c88f;
$color-text-light-2: #eea61f;

// Fonts
@import url(https://fonts.bunny.net/css?family=bruno-ace:400|nunito-sans:400);

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;